


.header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 120px;
    margin: 0;
    justify-content: space-between;
    color:    rgb(137, 137, 137);
    background-color: #f3f3f3;
}



.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    height: 80px;
    
    
}

.menu{
    display: flex;
    
    list-style: none;
    height: 80px;
    align-items: center;
        
}



.menu-item{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;    
    height: 100%;
    padding-right: 50px;
   
}


.menu-item-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:    rgb(137, 137, 137);
    border-bottom: 4px solid transparent;
    transition: border 0.4s ease;
   
     
}


.hamburger{
    height: 24px;
    display: none;

}
.aspas-logo{
    background-color: black;
    padding: 5px;
    height: 29px;
    display: none;

}


.menu-control{
    display: none;
}


.menu-control:checked + .menu{
    transform: translateX(50%); 
      
}

@media (max-width: 500px){
    .header{
        height: 60px;
        width: 100%;
        padding: 0 10%;
    }
    .logo{
        height: 30px;
        position: relative;
        right: 10px;
    }
    .hamburger{
        display: flex;
        position: relative;
        
        z-index: 10;
    }
   
   /*
    .menu{
        display: none;
    }*/
   
    .header-container{
        align-items: end;
    }
   
    
    .menu-control:checked + .menu{
        transform: translateX(10%); 
      
    }

    
    .menu{
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        position: fixed;
        background-color: rgb(247, 173, 152);
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;   
        z-index: 1;
        flex-wrap: initial; 
        justify-content: center;
        box-shadow: 1px 2px 15px 10px rgba(0, 0, 0 , 0.4) ;
        transform: translateX(-105%); 
        transition: transform 0.4s ease ;   
    } 

    
    .menu-item-link{
        color: black;
    }
}